{% extends 'base.html.twig' %}

{% block title %}Weather index{% endblock %}

{% block body %}
    <h1>Weather index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Temperature</th>
                <th>Humidity</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for weather in weather %}
            <tr>
                <td>{{ weather.id }}</td>
                <td>{{ weather.date ? weather.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ weather.temperature }}</td>
                <td>{{ weather.humidity }}</td>
                <td>{{ weather.status }}</td>
                <td>
                    <a href="{{ path('app_weather_crud_show', {'id': weather.id}) }}">show</a>
                    <a href="{{ path('app_weather_crud_edit', {'id': weather.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_weather_crud_new') }}">Create new</a>
{% endblock %}
