{% extends 'base.html.twig' %}

{% block title %}Weather{% endblock %}

{% block body %}
    <h1>Weather</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ weather.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ weather.date ? weather.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Temperature</th>
                <td>{{ weather.temperature }}</td>
            </tr>
            <tr>
                <th>Humidity</th>
                <td>{{ weather.humidity }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ weather.status }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_weather_crud_index') }}">back to list</a>

    <a href="{{ path('app_weather_crud_edit', {'id': weather.id}) }}">edit</a>

    {{ include('weather_crud/_delete_form.html.twig') }}
{% endblock %}
