{% extends 'base.html.twig' %}

{% block title %}City{% endblock %}

{% block body %}
    <h1>City</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ city.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ city.name }}</td>
            </tr>
            <tr>
                <th>Longitude</th>
                <td>{{ city.longitude }}</td>
            </tr>
            <tr>
                <th>Latitude</th>
                <td>{{ city.latitude }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_city_crud_index') }}">back to list</a>

    <a href="{{ path('app_city_crud_edit', {'id': city.id}) }}">edit</a>

    {{ include('city_crud/_delete_form.html.twig') }}
{% endblock %}
