{% extends 'base.html.twig' %}

{% block title %}Country{% endblock %}

{% block body %}
    <h1>Country</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ country.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ country.name }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ country.code }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_contry_crud_index') }}">back to list</a>

    <a href="{{ path('app_contry_crud_edit', {'id': country.id}) }}">edit</a>

    {{ include('contry_crud/_delete_form.html.twig') }}
{% endblock %}
