{% extends 'base.html.twig' %}

{% block title %}Weather in {{ city.name }}, {{ country.name }}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ city.name }}, {{ country.name }}</h1>

    {{ weather.date|date('d.m.Y') }}: {{ weather.temperature }}&deg;C
</div>
{% endblock %}
